### Node / pnpm ###
node_modules
.pnpm-store
.pnpm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.turbo

### Logs ###
logs
*.log
*.log.*
debug.log

### Build outputs ###
dist
build
.cache
coverage
*.tsbuildinfo
tsconfig.tsbuildinfo

**/.next/
**/.next-cache/
**/out/

### Env files ###
.env
.env.*
!.env.example

### IDE / Editors ###
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

### OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### Tests ###
__tests__/
*.test.ts
*.spec.ts
coverage/
.vitest/
.jest/

### Docker ###
docker-compose.override.yml
.docker/
docker-data/
**/pgdata
**/mysql-data

### Misc ###
*.local
*.cache
*.tmp
*.bak
*.swp
*.swo
*.orig
*.rej
*.seed
*.tgz
*.zip

# Ignore archives & secrets
*.pem
*.key
*.crt
*.p12

.eslintcache